<!DOCTYPE HTML>
<!--
	Highlights by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>websaigon</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
		<section id="header">
			<header class="major">
				<img class="main-icon" src="images/icon02.png">
				<h1>websaigon</h1>
				<p>Do small things with great passion !</p>
			</header>
			<div class="container">
				<ul class="actions">
					<li><a href="#one" class="button special scrolly">Begin</a></li>
				</ul>
			</div>
		</section>

		<!-- One -->
		<section id="one" class="main special">
			<div class="container">
				<span class="image fit primary"><img src="images/pic01.jpg" alt="" /></span>
				<div class="content">
					<header class="major">
						<h2>Chúng tôi là ai</h2>
					</header>
					<p>Chúng tôi là những người đam mê và có kinh nghiệm trong việc phát triển web. Công việc chính của chúng tôi là xây dựng website dựa trên các mẫu sẵn có từ <a href="http://themeforest.net/" target="_blank">themeforest</a>, đồng thời cung cấp một giải pháp đơn giản và toàn diện cho việc quảng bá thương hiệu trên internet.</p>
				</div>
				<a href="#two" class="goto-next scrolly">Next</a>
			</div>
		</section>

		<!-- Two -->
		<section id="two" class="main special">
			<div class="container">
				<span class="image fit primary"><img src="images/pic02.jpg" alt="" /></span>
				<div class="content">
					<header class="major">
						<h2>Chúng tôi làm gì</h2>
					</header>
					<p>Dưới đây là những dịch vụ mà chúng tôi cung cấp, những dịch vụ này được chúng tôi nghiên cứu, và phát triển, có thể thực hiện bởi chúng tôi hay những đối tác tin cậy của chúng tôi.</p>
					<ul class="icons-grid">
						<li>
							<span class="icon major fa-camera-retro"></span>
							<h3>Tư vấn</h3>
						</li>
						<li>
							<span class="icon major fa-pencil"></span>
							<h3>Thiết kế</h3>
						</li>
						<li>
							<span class="icon major fa-code"></span>
							<h3>SEO</h3>
						</li>
						<li>
							<span class="icon major fa-coffee"></span>
							<h3>Bảo trì</h3>
						</li>
					</ul>
				</div>
				<a href="#three" class="goto-next scrolly">Next</a>
			</div>
		</section>

		<!-- Three -->
		<section id="three" class="main special">
			<div class="container">
				<span class="image fit primary"><img src="images/pic03.jpg" alt="" /></span>
				<div class="content">
					<header class="major">
						<h2>và một điều nữa</h2>
					</header>
					<p>Chúng tôi luôn đặt sự hoàn thiện bản thân, uy tín, và chia sẻ với xã hội lên hàng đầu. Do đó, bạn có thể hoàn toàn an tâm về chất lượng của những dịch vụ mà chúng tôi cung cấp. Ngoài việc cung cấp các giải pháp về website, chúng tôi cam kết sẵn sàng hỗ trợ các bạn xuyên suốt quá trình sử dụng sản phẩm của chúng tôi.</p>
				</div>
				<a href="#footer" class="goto-next scrolly">Next</a>
			</div>
		</section>

		<!-- Footer -->
		<section id="footer">
			<div class="container">
				<header class="major">
					<h2>Hãy liên hệ với chúng tôi</h2>
				</header>
				<form name="enquiry-form">
					<div class="row uniform">
						<div class="6u 12u$(xsmall)">
							<input type="text" name="name" id="name" placeholder="Tên" />
						</div>
						<div class="6u$ 12u$(xsmall)">
							<input type="text" name="phone" id="phone" placeholder="Điện thoại" />
						</div>
						<div class="12u$"><input type="email" name="email" id="email" placeholder="Email" /></div>
						<div class="12u$"><textarea name="message" id="message" placeholder="Lời nhắn" rows="4"></textarea></div>
						<div class="12u$">
							<ul class="actions">
								<li>
									<input type="submit" value="Gởi yêu cầu" class="special" />
								</li>
							</ul>
						</div>
					</div>
				</form>
			</div>
			<footer>
				<!-- <ul class="icons">
					<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon alt fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
				</ul> -->
				<ul class="copyright">
					<li>&copy; websg.co</li>
					<li>power by <a href="http://capheshift.github.io/" target="_blank" >capheshift</a></li>
				</ul>
			</footer>
		</section>

		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="assets/js/main.js"></script>
	</body>
</html>
